	.header{
	text-align: center;
	padding: 20px;
	background-color: #32CD32;
}
.button{
	height: 200px;
	width: 200px;
	background-color: blue;
	color: white;
	padding: 8px;

}
.middle{
	text-align: center;
	padding: 20px;
}

.center{

	text-align: center;
	justify-content: center;
	margin: auto;
	display: flex;

}


.box1{
   
    display: inline;
    margin: 20px;
    float: left;
    width: 250px;
    height: 150px;
    background: red;

}

.footer{
	background-color: #32CD32;
	height: 350px;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: auto;
	display: flex;	
}

.boxbottom1{
	
    display: inline;
    margin: 20px;
    float: left;
    
}



.buttonbottom{
	height: 200px;
	width: 200px;
	background-color: white;
	color: black;
	padding: 8px;

}

