	.header{
	height: 220px;
	text-align: center;
	padding: 30px;
	background-image: linear-gradient(#ABFB2F, #83B727);
}
*{
	font-family: arial;
}
.proactively{
	font-size: 50px;
	margin-top: : 25px;
}
.button{
	height: 180px;
	width: 180px;
	font-size: 13px;
	background-color: #2D6CA6;
	color: white;
	padding: 8px;
	border-radius: 5px;


}
.middle{
	text-align: center;
	padding: 20px;
}

.center{

	text-align: center;
	justify-content: center;
	margin: auto;
	display: flex;

}


.box1{
   
    display: inline;
    margin: 20px;
    float: left;
    width: 250px;
    height: 150px;
    background: red;

}

.footer{
	background-color: #32CD32;
	height: 350px;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin: auto;
	display: flex;	
}

.boxbottom1{
	
    display: inline;
    margin: 20px;
    float: left;
    
}



.buttonbottom{
	height: 200px;
	width: 200px;
	background-color: white;
	color: black;
	padding: 8px;

}

.footerr{
	text-align: center;
	margin: 30px;
}
.terms{
	color: 	#0000CD;

}
.copyrigt{
	color: #A0A0A0;
}