	.header{
	height: 220px;
	text-align: center;
	padding: 30px;
	background-image: linear-gradient(#ABFB2F, #83B727);
}
*{
	font-family: Arial Narrow;
}

.navbar{
	overflow: hidden;
	background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.list{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.item{
	display: inline-block;
  	position: relative;
  left: 200px;

}

.item a{
	display: block;
  color: white;
  padding: 14px ;
  text-decoration: none;
  
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
	
	overflow: hidden;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}




.proactively{
	font-size: 50px;
	margin-top: : 25px;
}
.button{
	height: 180px;
	width: 180px;
	font-size: 13px;
	background-color: #6666FF;
	color: white;
	padding: 8px;
	border-radius: 5px;


}
.superior{
	text-align: center;
	padding: 20px;
}

.superiorcollabration{
	font-size: 35px;

}
.visualize{
	font-size: 23px;
	color: #909090;
}

.center{

	text-align: center;
	justify-content: center;
	display: flex;

}

.proactivelyenvisloned{
	text-align: center;
	font-size: 15px;
	color: #909090;
}
.box1{
   
    

}

.efficiently{
	font-size: 25px;
	color: 	#0000FF;
}
.collab{
	font-size: 15px;
	color: #696969;
}

.circleimage{
	background-image: linear-gradient(#ABFB2F, #83B727);
	height: 430px;
	
	text-align: center;
	justify-content: center;
	
	display: flex;	
}

.boxbottom1{
	
    display: inline;
    margin: 30px;
    
    float: left;

    
}
.dyanamically{
	font-size: 22px;
}


.buttonbottom{
	height: 180px;
	width: 180px;
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 3px;

}

.footerr{
	text-align: center;
	margin: 30px;
}
.terms{
	color: 	#0000CD;

}
.copyrigt{
	color: #A0A0A0;
}