* {
	font-family: Arial Narrow;
}
html,body{
	padding: 0;
	margin: 0;
}
.navbar
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: black;
		list-style-type: none;
		
	}
.navbar .list .item  
	{
		display: inline-block;
		

	}
.navbar ul 
	{
		padding: 0px;
	}
.navbar .list .item a
	{
		color: white;
		text-decoration: none;
	}

.navbar .list .item a 
	{
	
	color: white;
	padding: 10px;
	
	}
.navbar .list .item a:hover
	{
	background-color: 	#808080;
	}


/*     */
/*    */
.header {
	text-align: center;
	padding:70px 30px;
	background-image: url("ban5.jpg");
	object-fit: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header img{
	max-width: 100%;
	height: auto;
	object-fit: cover;

}
.header .proactively {
	font-size: 50px;
}

.header .button {
		width: 180px;
		font-size: 15px;
		background-color: #6666FF;
		color: white;
		padding: 8px;
		border-radius: 5px;
		border: none;
		transition-duration: 0.4s;
  		cursor: pointer;

}

.button:hover {
  background-color: #008CBA;
  color: white;

}

.header .button a {
	text-decoration: none;
	color: white;
}

.header .button a:hover {
	font-weight: bold;
}

/*     */
/*    */

.superior {
	text-align: center;
	padding: 20px;
}

.superior .superiorcollabration {
	font-size: 35px;

}

.superior .visualize {
	font-size: 23px;
	color: #909090;
}

.superior .proactivelyenvisloned {
	text-align: center;
	font-size: 15px;
	color: #909090;
}
/*     */
/*    */

.center {
	text-align: center;
	justify-content: center;
	display: flex;
}
.center-align
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 30px;
}
.center-align img{
	width: 320px; 
	 object-fit: cover;
	margin: 10px;
}
.efficiently {
	font-size: 25px;
	color: #0000FF;
}

.center.collab {
	font-size: 15px;
	color: #696969;
}

/*     */
/*    */

.circleimage {
	background-image: linear-gradient(	#FFFFFF, 	#AFE9F7);
	text-align: center;
	justify-content: center;
	display: flex;
}
.circleimage .boxbottom1
{
	padding: 50px;
}

.boxbottom1 img{
	
	border-radius: 50%; 
	margin: 25px;
	object-fit: cover;
    width: 220px;
    height: 220px;


}

.dyanamically {
	font-size: 25px;
}

.circleimage .buttonbottom {
	width: 250px;
	font-size: 13px;
	background-color: #6666FF;
	color: white;
	padding: 11px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
	transition-duration: 0.4s;
  	cursor: pointer;
}

.circleimage .buttonbottom:hover {
  background-color: #008CBA;
  color: white;

}

.circleimage .buttonbottom a {
	text-decoration: none;
	color: white;
}

.circleimage .buttonbottom	 a:hover {
	font-weight: bold;
}

/*     */
/*    */

.footerr {
	text-align: center;
	margin: 30px;
}

.footerr .terms {
	color: #0000CD;
}

.footerr .terms a {
	text-decoration: none;
	color: #0000CD;
}

.footerr .terms a:hover {
	color: #4CAF50;
}

.footerr .copyrigt {
	color: #A0A0A0;
}






/* Responsive Design */




@media (max-width: 1199.98px) { 
	
	html,body
	{
 		width: 100%;
 		height: 100%;
 		margin: 0px;
 		padding: 0px;
 		overflow-x: hidden;
 	} 
 }
 @media (max-width: 991.98px) {
 	html,body{
 		width: 100%;
 		height: 100%;
 		margin: 0px;
 		padding: 0px;
 		overflow-x: hidden;
 	} 
	
	.center 
	{
	display: block;
	}
	.center-align
	{
	display: block;
    }
    .efficiently {
	display: block;
	font-size: 35px;
	}
	.center img{
	width: 500px;
	height: 350px;
	object-fit: cover;
	}

	 .circleimage
    {
    display: block;
    }
    .boxbottom1
    {
    display: block;
    }
    .boxbottom1 img
    {
    object-fit: cover;
    width: 270px;
    height: 270px;
    }
}
@media (max-width: 767.98px) { 
	
	.nav{
		
		text-align: center;
		overflow: hidden;
	}

	.center 
	{
	display: block;
	}

	.center-align
	{
	display: block;
    }

     .circleimage
    {
    display: block;
    }
    .boxbottom1
    {
    display: block;
    }

  
     .navbar 
   {
   		display: flex;
		flex-wrap: wrap;
		justify-content: center;
   }	

   .center img{
	width: 270px;
	height: 200px;
	object-fit: cover;
	}
	
 }
 @media (max-width: 575.98px) { 
	.center 
	{
	display: block;
	}

	.center-align
	{
	display: block;
    }


    .circleimage
    {
    display: block;
    }
    .boxbottom1
    {
    display: block;
    }

   .navbar 
   {
   		display: flex;
		flex-wrap: wrap;
		justify-content: center;
   }
@media (max-width: 380px){
	 .navbar 
   {
   		font-size: 15px;
   		
   		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
   }

   .boxbottom1 img
    {
    object-fit: cover;
    width: 180px;
    height: 180px;
    }
   
}
