
*{
	font-family: Arial Narrow;
}

.navbar{
	overflow: hidden;
	background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .list{
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.navbar .list .item{
	display: inline-block;
  	position: relative;
  left: 200px;

}

.navbar .list .item a{
	display: block;
  color: white;
  padding: 14px ;
  text-decoration: none;
  
}

.navbar .list .item .dropdown {
  float: left;
  overflow: hidden;
}

.navbar .list .item .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
	
	overflow: hidden;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar.dropdown-content a:hover {
  background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}



/*     */
/*    */




.header{
	height: 220px;
	text-align: center;
	padding: 30px;
	background-image: linear-gradient(#ABFB2F, #83B727);
}


.header .proactively{
	font-size: 50px;
	margin-top: : 25px;
}
.header .button{
	height: 180px;
	width: 180px;
	font-size: 13px;
	background-color: #6666FF;
	color: white;
	padding: 8px;
	border-radius: 5px;
}




/*     */
/*    */



.superior{
	text-align: center;
	padding: 20px;
}

.superior .superiorcollabration{
	font-size: 35px;

}
.superior .visualize{
	font-size: 23px;
	color: #909090;
}

.superior .proactivelyenvisloned{
	text-align: center;
	font-size: 15px;
	color: #909090;
}






/*     */
/*    */






.center{
	text-align: center;
	justify-content: center;
	display: flex;
}
.efficiently{
	font-size: 25px;
	color: 	#0000FF;
}
.center.collab{
	font-size: 15px;
	color: #696969;
}





/*     */
/*    */




.circleimage{
	background-image: linear-gradient(#ABFB2F, #83B727);
	height: 430px;
	text-align: center;
	justify-content: center;
	display: flex;	
}


.dyanamically{
	font-size: 22px;
}


.buttonbottom{
	height: 180px;
	width: 180px;
	background-color: white;
	color: black;
	padding: 5px;
	border-radius: 3px;
}






/*     */
/*    */




.footerr{
	text-align: center;
	margin: 30px;
}
.footerr .terms{
	color: 	#0000CD;

}
.footerr .copyrigt{
	color: #A0A0A0;
}